body {
    margin: 0;
}

.smallnavbar {
    background-color: #0b0b31;
    padding: 15px;
    font-size: 5px;
}
.demo {
    color: aliceblue;
    text-decoration: none;
}
.headbar {
    color: #f0f0f6;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header h1{
    font-size: 24px;
    color: #0b0b31;
    margin-inline: 90px;
}

nav {
    display: flex;
    gap: 5px;
}
nav a {
     color: #f0f0f6;
    background-color: #05052f;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px; 
    text-decoration: none;   
}
nav a :hover {
    color: #0b0b31;
}
.heading {
    display: flex;
    justify-content: center;
 
  
}


.Para2 {
    display: flex;

}

.smart {
    border: 1px solid black;
    padding: 10px;
    border-right: none;
    text-align: center;
}
.strong {
    border: 1px solid black;
    padding: 10px;
    border-right: none;
    text-align: center;
  }
.stable {
    border: 1px solid black;
    padding: 10px;
    border-right: none;
    text-align: center;
}
button {
    background-color: #0b0b31;
    color: #f0f0f6;
    border-radius: 5px;
}

.para3 {
    background: rgb(14,22,31);
    background: linear-gradient(307deg, rgba(14,22,31,1)1%, rgba(28,45,64,1)100%);
    color: #f0f0f6;
    display: flex;
    /* justify-content: space-evenly; */
   
}
.service {
    padding: 10px;
    border-right: none;
    text-align:justify; 
    flex: 1;
}
.opportunities {
    padding: 10px;
    border-right: none;
    text-align:justify; 
    flex: 1;
}
.news {
    padding: 10px;
    border-right: none;
    text-align:justify; 
    flex: 1;
}

footer {
    background-color: #0b0b31;
    color:azure;
    text-align: left;
    padding: 10px;
    
}
