body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom:1px solid #0b0b31;
}
.header h1{
    font-size: 24px;
    color: #0b0b31;
}

nav {
    display: flex;
    gap: 5px;
}
nav a {
    text-decoration: none;
    color: #f0f0f6;
    font-size: 15px;
    background-color: #0b0b31;
    border-radius: 3px;
    
}
nav a :hover {
    color: #0b0b31;
}
.heading {
    width: 100%;
    height: 90vh;
    background-image: url(./image/img.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  
}
#a {
   position: absolute;
   margin-left: -700px;
   margin-top: -100px;
}
#herop {
   position: absolute;
   margin-left: -700px;
   margin-top: -65px;
}
#herob {
   position: absolute;
   margin-left: -700px;
   margin-top: -40px;
}
.Para2 {
    display: flex;
    outline: auto;
  
}

.smart {
    border: 1px solid black;
    padding: 10px;
}
.strong {
    border: 1px solid black;
    padding: 10px;
}
.stable {
    border: 1px solid black;
    padding: 10px;
}
button {
    background-color: #0b0b31;
    color: #f0f0f6;
    border-radius: 5px;
}
footer {
    background-color: #0b0b31;
    color:azure;
    text-align: left;
    padding: 10px;
    margin-top: 40px;
}